<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android_buildingblocks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidBuildingBlocks"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".activities_introduction.MainActivity"/>
        <activity android:name=".activities_introduction.SecondActivity"/>

        <activity android:name=".activities_launch_modes.ActivityA" android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities_launch_modes.ActivityB" android:launchMode="standard"/>
        <activity android:name=".activities_launch_modes.ActivityC" android:launchMode="standard"/>
        <activity android:name=".activities_launch_modes.ActivityD" android:launchMode="singleInstance"/>

    </application>

</manifest>